html [bg-none],.bg-none{
    background-color:transparent;
}
html [bg-color-lightgrey],.bg-color-lightgrey{
    background-color:var(--color-lightgrey);
}
html [bg-darkbar],.bg-color-darkgrey{
    background-color:var(--color-darkgrey);
}
html [bg-color-main1],.bg-color-main1{
    background-color:var(--color-main1);
}
html [bg-color-main2],.bg-color-main2{
    background-color:var(--color-main2);
}
html [bg-color-minor1],.bg-color-minor1{
    background-color:var(--color-minor1);
}
html [bg-color-minor2],.bg-color-minor2{
    background-color:var(--color-minor2);
}
html [bg-color-minor3],.bg-color-minor3{
    background-color:var(--color-minor3);
}
html [bg-color-minor4],.bg-color-minor4{
    background-color:var(--color-minor4);
}
html [bg-color-brown],.bg-color-brown{
    background-color:var(--color-brown);
}
html [bg-color-white],.bg-color-white{
    background-color:var(--color-white);
}
html [bg-lightgrey-soft],.bg-lightgrey-soft{
    background-color:var(--color-lightgrey-soft);
}