html [font__color--main1],.font__color--main1{
    color: var(--color-main1);
  }
html [font__color--main2],.font__color--main2{
  color:var(--color-main2);
}
html [font__color--minor1],.font__color--minor1{
  color:var(--color-minor1);
}
html [font__color--minor2],.font__color--minor2{
  color:var(--color-minor2);
}
html [font__color--minor3],.font__color--minor3{
  color:var(--color-minor3);
}
html [font__color--minor4],.font__color--minor4{
  color:var(--color-minor4);
}
html [font__color--alert1],.font__color--alert1{
  color:var(--color-alert1);
}
html [font__color--alert2],.font__color--alert2{
  color:var(--color-alert2);
}
html [font__color--darkgrey],.font__color--darkgrey{
  color:var(--color-darkgrey);
}
html [font__color--lightgrey],.font__color--lightgrey{
  color:var(--color-lightgrey);
}
html [font__color--brown],.font__color--brown{
  color:var(--color-brown);
}
html [font__color--danger],.font__color--danger{
  color:var(--color-danger);
}
html [font__color--white],.font__color--white{
  color:var(--color-white);
}
html [font__color--black],.font__color--black{
  color:var(--color-black);
}
html [font__color--shadow],.font__color--shadow{
  color:var(--color-shadow);
}

/*blanco y negro con transparencia*/
html [roboto--dark],.roboto--dark{
    color:rgba(0, 0, 0, .6);
  }
html [roboto--white],.roboto--white{
    color:rgba(255, 255, 255, .9);
}