ul[style-none], ul.style-none {list-style: none;padding-left: 0;margin:0;}
ul[items-left] > li, ul.items-left > li {list-style: none;padding-left: 0;margin:0;}
ul[items-margin] > li, ul.items-margin > li {list-style: none;padding-left: 0;margin:0;}

