html[hr-basic],.hr-basic {
  display: block;
  height: 1px;
  border: 0;
  margin: 1.5em 0;
  padding: 0;
}

[hr-basic][solid],.hr-basic.solid {
    border-top: 1px solid var(--color-lightgrey);
}
[hr-basic][dashed],.hr-basic.dashed {
    border-top: 1px dashed var(--color-lightgrey);
}
[hr-basic][dotted],.hr-basic.dotted {
    border-top: 1px dotted var(--color-lightgrey);
  }


