:root {
     --color-main: #36A4D0;
     --color-secondary: #32B6C1;
     --color-alert: #CC614D;
     --color-darkgrey: #585858;
     --color-lightgrey: #cdcdcd;
     --color-brown: #ae9999;
     --color-danger: #eb6157;
     --color-lightgrey-soft: #f5f5f5;
     --color-white: white;
     --color-black: black;
     --color-shadow: #888888;
     --border-color: #cecece;
     --color-hover:#d7f4ef;
 }
