:root {
  --font-large: 40px;
  --font-big: 32px;
  --font-medium: 24px;
  --font-small: 18px;
  --font-tiny: 16px;
}

@media only screen and (max-height: 768px) {
  :root {
    --font-big: 1.9em;
    --font-medium: 1em;
    --font-tiny: 0.9em;
  }
}