:root{
    --font-condensed:roboto-condensed;
    --font-italic:roboto-italic;
    --font-thin:roboto-thin;
    --font-regular:roboto-regular;
    --font-condensed-italic:roboto-condensed-italic;
    --font-bold:roboto-bold;
    --font-bold-condensed:roboto-bold-condensed;
    --font-light:roboto-light;
}