:root {
  --font-large: 32px;
  --font-big: 28px;
  --font-medium: 24px;
  --font-small: 18px;
  --font-tiny: 16px;
  --font14: 14px;
  --font13: 13px;
  --font15: 15px;
  --font12: 12px;
  --font11: 11px;
  --font10: 10px;
}