:root {
  --font-large: 32px;
  --font-big: 24px;
  --font-medium: 18px;
  --font-small: 16px;
  --font-tiny: 14px;
}

@media only screen and (max-height: 768px) {
  :root {
    --font-large: 0.9em;
    --font-big: 0.9em;
    --font-medium: 0.9em;
    --font-small: 0.9em;
    --font-tiny: 0.9em;
  }
}