:root{
    --icon__female:"\e9ab";
    --icon__bed:"\e91f";
    --icon__allergies:"\e94a";
    --icon__intolerances:"\e9e4";
    --icon__join:"\ea34";
    --icon__chat:"\e93d";
    --icon__xray:"\eae5";
    --icon__lab:"\e9e8";
    --icon__treatment:"\eaf1";
    --icon__medication:"\ea12";
}

