:root {
  --pad-none:0;
  --pad-tiny:4px;
  --pad-small:16px;
  --pad-medium:32px;
  --pad-large: 64px;
}

@media only screen and (max-height: 768px) {
  :root {
    --pad-tiny:0.2em;
    --pad-small:0.5em;
    --pad-medium:0.8em;
    --pad-large: 0.9em;
  }
}